/* Table of Contents
--------------------------------------------
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
--------------------------------------------*/

/* General Content
-------------------------------------------- */

html {
  
  font-size: 16px;
}

/* Typography
-------------------------------------------- */

.cursive  {
  font-size: 2rem;
}

/* Header & Navigation
-------------------------------------------- */

/* Images & Media
-------------------------------------------- */

.hero-image {
  width: 100%;
}

/* Footer
-------------------------------------------- */

/* Media Queries
-------------------------------------------- */